html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", serif;
  margin: 0 0 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0 0 0 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.container {
  padding: 0 30px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header-section {
  position: relative;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
}
.svg-flower {
  margin-right: 5px;
  fill: #ffffff;
    position: relative;
  z-index: 2;
}
.title-text {
  display: flex;
  padding-top: 10px;
  font-weight: 900;
  font-size: 20px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 90%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
  transition: transform 350ms ease-in-out;
}
.title-text:focus,
.title-text:hover {
  transform: scale(1.1);
background: linear-gradient(180deg, #ffee00 60%, rgba(16, 8, 134, 0.5) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-search {
  display: flex;
  margin-left: auto;
  margin-right: 29px;
  fill: #ffffff;
    position: relative;
  z-index: 2;
}
.svg-search {
  fill: #ffffff;
    transition: transform 350ms ease-in-out;
    z-index: 2;
}
.svg-search:hover, .menu:hover {
  transform: scale(1.5);
}

.menu {
  fill: #ffffff;
  position: relative;
  z-index: 2;
    transition: transform 350ms ease-in-out;
}

.first-section {
  background-image: url(/img/firstBG@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
padding-bottom: 40px;
  padding-top: 153px;
}
.first-section::before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 10, 32, 0.2);
  z-index: 1;
  height: 1104px;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .first-section {
    background-image: url(/img/firstBG@2x.jpg);
  }
}
.first-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 58px;
  line-height: 108%;
  text-transform: uppercase;
  margin-bottom: 16px;
    position: relative;
  z-index: 2;
}
.btn-traveling {
  position: relative;
  display: inline-block;
 padding: 14px 90px;
   border: 3px solid white;
  font-size: 18px;
   font-weight: 700;
  color: #fff;
  background-color: #333;
  border-radius: 108px;
  cursor: pointer;
  overflow: hidden; 
  z-index: 1;
  transition: color 0.3s ease;
    line-height: 150%;
}
.btn-traveling::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff7f50, #1e90ff);
  z-index: 2; 
  transition: left 0.3s ease-in-out;
  color: #000000;
}
.btn-traveling:hover::before {
  left: 0;
}
.btn-traveling:hover {
  color: #000000;
}
.in-btn-text {
  position: relative;
  z-index: 2;
    font-size: 18px;
   font-weight: 700;
  color: #fff;
}
.first-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.list-counters {
  margin: 43px 0 10px 0;
  padding: 45px 28px 20px 28px;
  counter-reset: first;
  list-style-type: none;
  border: 1px solid #000000;
  min-width: 200px;
  background: linear-gradient(180deg, #000000 100%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
  color: #ffffff;
}

.item-list-counter::before {
  counter-increment: first;
  content: counter(first, decimal-leading-zero) " ";
  color: #dd2242;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}
.in-counter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #939393;
}
.first-video {
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
  z-index: 2;
}

.video-icon-btn {
    position: absolute;
border-radius: 100%;
border: #fff;
width: 59px;
height: 59px;
background-color: #fff;
transition: transform 350ms ease-out;
}

.video-icon-btn:hover {
  background-color: red;
  transform: scale(1.5);
  fill: white;
}
/* -------------------------------------------------------Second section--------------------------------------------------------------------------------------------------------------------------------------------- */
.second-section {
  position: relative; 
  background-image: url(/img/secondBG@1x.jpg);
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-img::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background: rgba(1, 10, 32, 0.9);
   opacity: 0.1;
  z-index: 1;
}
.wrapper-img > * {
  position: relative; 
  z-index: 2;
}
.second-wrapper {
  padding: 0;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .second-section {
    background-image: url(/img/secondBG@2x.jpg);
  }
}
.img-field {
  padding: 40px 30px 0 30px;
  width: 85%;
border-radius: 18%;
margin-bottom: 33px;
}
.under-field {
  padding: 0 30px;
  margin-bottom: 30px;
  font-weight: 700;
font-size: 40px;
line-height: 115%;
color: #ffffff;
}
.text-under-field {
  padding: 0 30px;
  margin-bottom: 38px;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #ffffff;
}
.btn-info {
  padding: 0 30px;
  display: flex;
  margin: 0 auto;
  padding: 22px 107px;
border-radius: 32px;
background: #dd2242;
}
.link-btn-info {
  font-weight: 700;
font-size: 18px;
color: #ffffff;
line-height: 150%;
text-align: center;
transition: 150ms ease-in;
}
.link-btn-info:hover, .link-btn-info:focus {
  transform: scale(1.2);
}
.second-wrapper-img {
  position: relative;
  background-image: url(/img/seconBGbeach@1x.jpg);
  padding-bottom: 48px;
}

.second-wrapper-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 10, 32, 0.9);
  z-index: 1;
}

.second-wrapper-img > * {
  position: relative;
  z-index: 2;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution:2dppx) {
  .second-wrapper-img {
    background-image: url(/img/seconBGbeach@2x.jpg);
  }
}
.img-beach {
  padding: 0 30px;
    width: 85%;
border-radius: 15%;
margin-bottom: 41px;
}
.under-beach {
  padding: 0 30px;
  margin-bottom: 41px;
  font-weight: 700;
font-size: 40px;
line-height: 115%;
color: #ffffff;
}
.text-under-beach {
  padding: 0 30px;
  margin-bottom: 28px;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #ffffff;
}
/* Third section *//* Third section *//* Third section *//* Third section *//* Third section *//* Third section *//* Third section *//* Third section *//* Third section *//* Third section */
.third-section {
  background-image: url(/img/mountainBG@1x.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
.third-section-wrapper {
  padding: 40px 0 0 0;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution:2dppx) {
  .third-section {
  background-image: url(/img/mountainBG@2x.jpg);
}
}
.third-img {
  border-radius: 15px;
  width: 80%;
}
.third-section-text {
  font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
margin-bottom: 40px;
padding: 0 30px ;
}
.wrapper-back-next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 15px;
  margin-bottom: 20px;
}
.svg-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 867px;
}
.svg-circle {
  fill: grey;
}
.svg-circle.selected {
  fill:red;
  width: 24px;
}
.svg-list:first-child:active {
  fill:red;
}
.by-the-number {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  padding: 60px 30px;
  position: relative;
}

.third-title {
  font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #ffffff;
margin-bottom: 60px;
}
.third-div-text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #fff;
 margin-bottom: 64px;
  max-width: 314px;
  text-align: center;
}
.third-section-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}
.third-section-list .third-section-items:nth-child(2n) {
  font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #fff;
}
.third-section-list .third-section-items:nth-child(6) {
    padding-bottom: 0;
    margin-bottom: 0;
}
.third-section-items {
    font-weight: 700;
font-size: 40px;
line-height: 115%;
color: #dd2242;
}
.by-the-number::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 10, 32, 0.9);
  z-index: 1;
}
.by-the-number > * {
  position: relative;
  z-index: 2;
}

/* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION */
.fourth-section {
  background-color: rgba(59, 39, 103, 0.2);
  padding: 140px 0;
}
.fourth-section-title {
  font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #000000;
margin-bottom: 36px;
}
.fourth-section-text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: #000;
margin-bottom: 42px;
}
/* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION */
.fifth-section {
  background-image: url(/img/hugo-matillaBG@1x.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 10, 32, 0.4);
  z-index: 1;
}
.fifth-section > * {
  z-index: 2;
  position: relative;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .fifth-section {
    background-image: url(/img/hugo-matillaBG@2x.jpg);
  }
}
.container.fifth-section-wrapper {
  padding-top: 83px;
  padding-bottom: 40px;
}
.fifth-section-title {
  font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #ffffff;
margin-bottom: 100px;
}
.first-video.fifth-section-video {
margin-bottom: 40px;
}
.first-video.fifth-section-video2 {
margin-bottom: 40px;
}
.video-icon-btn.fifth-section-btn {
  border: transparent;
  background: transparent;
}
.svg-icon-play.fifth-section-svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}
.fifth-section-text {
  font-weight: 700;
font-size: 22px;
line-height: 150%;
text-align: center;
color: #ffffff;
margin-bottom: 20px;
}
.fifth-section-dscr {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
opacity: 0.7;
margin-bottom: 40px;
}
.fifth-section-img {
  border-radius: 15px;
}
.first-video.fifth-section-video3 {
margin-bottom: 40px;
}

/* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION */
.sixth-section {
   background-color: rgba(59, 39, 103, 0.2);
}
.sixth-section-wrapper {
  padding: 32px 30px;
}
.sixth-section-title {
  font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #000000;
margin-bottom: 40px;
}
.sixth-section-text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
color: #000;
opacity: 0.7;
margin-bottom: 40px;
}
.sixth-section-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.sixth-section-items {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

}

.sixth-section-img {
  border-radius: 15px;
  object-fit: cover;
  
}
/* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION *//* SEVENTH SECTION */
.seventh-section {
    background-color: rgba(59, 39, 103, 0.3);
    padding: 28px 0;
}
.seventh-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.seventh-title {
 font-weight: 700;
font-size: 40px;
line-height: 115%;
text-align: center;
margin-bottom: 46px;
}
.second-list-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  counter-reset: first;
  list-style-type: none;
  min-width: 200px;
  opacity: 1;
  
}
.second-items-counter::before {
    counter-increment: first;
  content: counter(first, decimal) " ";
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #dd2242;
  margin: 0 auto;
      margin-bottom: 26px;
}
.second-list-counter .second-items-counter:nth-child(3)::before {
  display: none;
}

.second-items-counter {
  text-align: center;
  position: relative;
}
.text-in-counters {
  font-weight: 700;
font-size: 22px;
line-height: 150%;
text-align: center;
color: #000000;
margin-bottom: 6px;
}
.seventh-text {
  text-align: center;
        font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
opacity: 0.7;


  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  max-height: calc(1.2em * 3); /* 1.2em per line, adjust as needed */
  transition: 250ms ease-in;
}
.hidden-text {
  display: none;
 transition: max-height 0.5s ease-in-out;
}
.show {
  display: inline;
}
.btn-show-more {
      margin-bottom: 26px;
        text-align: center;
        font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #dd2242;
}
.show-more-btn:focus {
  outline: none;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
.footer-wrapper {
    padding-top: 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.footer-container-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.svg-footer {
  fill: white;
  margin-right: 8px;
}
.footer-text {
  color: red;
  font-weight: 900;
font-size: 23px;
line-height: 90%;
letter-spacing: 0.01em;
text-transform: uppercase;
}
.footer-span {
  color: white;
  font-weight: 900;
font-size: 23px;
line-height: 90%;
letter-spacing: 0.01em;
text-transform: uppercase;
}
.footer {
  background-color: #04001b;
  position: relative;
}
.icon-up-btn {
  width: 104px;
height: 104px;
background-color: red;
border-radius: 50%;
position: absolute;
top: -35px;
left: 50%;
transform: translateX(-50%);
}
.icon-up-footer {
  fill: white;
  transition: 250ms ease-in;
}
.icon-up-footer:focus, .icon-up-footer:hover {
  transform: scale(1.2);
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-items {
  font-weight: 700;
font-size: 22px;
line-height: 156%;
letter-spacing: 0.03em;
color: white;
transition: 250ms ease-in;
}
.footer-items:hover, .footer-items:focus {
  transform: scale(1.2);
}
.footer-list:hover > :not(:hover) {
  opacity: 0.7;
  transform: scale(1);
}
.footer-svgs-icon {
  display: flex;
  flex-direction: row;
  gap: 46px;
  margin-bottom: 20px;
}
.footer-svg {
  fill: white;
  transition: 250ms ease-in;
}
.footer-svg:hover, .footer-svg:focus {
  transform: scale(1.5);
  fill: red;
}
.footer-item-copy {
  text-align: center;
  margin: 0 auto;
    font-weight: 700;
font-size: 22px;
line-height: 156%;
letter-spacing: 0.03em;
color: white;
}
/* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP *//* DESkTOP */
@media screen and (min-width:1440px) {
  .container {
    padding: 0 0;
  }
  .title-text {
    margin-right: 80px;
  }
.desktop-list {
  display: flex;
  gap: 60px;
  transition: 250ms ease-out;
padding-left: 40px;
}
.desktop-list:hover > :not(:hover) {
opacity: 0.7;
transform: scale(1);
}
.desktop-list-items {
  font-weight: 700;
font-size: 18px;
text-transform: uppercase;
color: #ffffff;
z-index: 2;
transition: 250ms ease-out;
}
.desktop-list-items:hover, .desktop-list-items:focus {
  transform: scale(1.2);
}
.svg-search, .svg-menu {
  width: 28px;
  height: 28px;
}
.svg-flower {
  width: 30px;
  height: 50px;
  
}
.title-text {
  font-weight: 900;
font-size: 23px;
}
.visually-hidden {
  position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
    border: none;
}
.header-wrapper {
  padding: 60px 60px;
  width: 90%;
}
.desktop-nav {
  margin-left: auto;
}
/* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP *//* FIRST SECTION DESKTOP */
.first-section {
    background-image: url(/img/desktopFirstBG@1x.jpg);
padding-bottom: 0;
  padding-top: 170px;
}
.first-section::before {
  height: 1025px;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .first-section {
  background-image: url(/img/desktopFirstBG@2x.jpg);
  }
}
.first-title {
  text-align: left;
  padding-left: 270px;
  font-weight: 900;
font-size: 120px;
}
.btn-traveling {
padding: 26px 64px;
  background-color: #333;
  border-radius: 108px;
  z-index: 1;
max-width: 277px;
margin-left: 277px;
margin-bottom: 240px;
}
.in-btn-text {
    font-size: 20px;
}
.list-counters {
  display: flex;
  margin: 0;
  padding: 41px 71px;
  gap: 190px;
  opacity: 0.7;
  z-index: 1;
}
.item-list-counter {
color: #ffffff;
z-index: 2;
}
.in-counter-text {
color: #ffffff;
}
.desktop-wrapper {
  display: flex;
padding-left: 277px;
}
.first-video {
  display: flex;
}
/* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION *//* SECOND SECTION */
.second-section {
  position: relative; 
  background-image: url(/img/secondBG@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.second-section::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background: rgba(1, 10, 32, 0.9);
   opacity: 1;
  z-index: 1;
}
.second-section > * {
  position: relative; 
  z-index: 2;
}
.wrapper-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.desktop-third-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 488px;
}
.under-field {
font-size: 42px;
}
.text-under-field {
  font-weight: 400;
font-size: 18px;
}
.btn-info {
  display: flex;
  align-items: flex-start;
margin-left: 30px;
}
.second-wrapper-img {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}
.second-wrapper-img::before, .wrapper-img::before {
  opacity: 1;
}
.desktop-third-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 488px;
}
.img-beach {
  padding: 40px 30px;
  margin-bottom: 0;
}
/* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION *//* THIRD SECTION */
.third-section {
  background-image: url(/img/fieldBGdesktop@1x.jpg);
}
@media screen and (min-resolution:192dpi), screen and (min-resolution:2dppx)  {
  .third-section {
  background-image: url('/img/fieldBGdesktop@2x.jpg');
}
}
.third-section-text {
  margin-bottom: 0;
  padding: 60px 60px;
}
.third-img {
  border-radius: 15%;
width: 50%;
}
.third-title {
  font-weight: 700;
font-size: 60px;
line-height: 150%;
}
.third-div-text {
  opacity: 0.7;
  font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-align: center;
max-width: none;
}
.third-section-list {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.third-section-items {
  display: flex;
  flex-direction: column;
}
.list-items-text {
  font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-align: center;
max-width: 350px;
color: #fff;
}
.third-section-list .third-section-items:nth-child(2n) {
font-weight: 700;
    font-size: 40px;
    line-height: 115%;
    color: #dd2242;
}
/* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION *//* FOURTH SECTION */
.fourth-section-text {
      font-size: 22px;
}
.btn-info {
  margin: 0 auto;
}
/* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION *//* FIFTH SECTION */
.fifth-section {
  background-image: url(/img/bgField@1x.jpg);
}
@media screen and (min-resolution:192pdi), screen and (min-resolution:2dppx) {
   fifth-section{ background-image: url(/img/bgField@2x.jpg); }
}
.main-container {
  display: flex;
justify-content: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-align: left;
}
.fifth-section-title {
  font-size: 42px;
max-width: 990px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.first-video {
  display: flex;
justify-content: center;
align-items: center;
}

.fifth-section-img {
  margin-right: 20px;
}

.fifth-section-text {
  text-align: left;
}
.fifth-section-dscr {
  text-align: left;
}
.fifth-section-video3 {
}
/* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION *//* SIXTH SECTION */
.sixth-section-title {
  font-size: 60px;
}
.sixth-section-wrapper {
  padding: 60px;
}
.sixth-section-text {
font-size: 24px
}
.sixth-section-list {
      display: grid;
           grid-template-columns: repeat(3, calc(30% - 10px)); /* ширина 33.33% с учетом отступа */
            gap: 10px; /* расстояние между фото */
            list-style: none; /* убираем маркеры у списка */
            padding: 0; /* убираем отступы */
            margin: 0; /* убираем отступы по умолчанию */
}
.sixth-section-items {
flex: none;
margin: 0;
padding: 0;
width: 100%;
}
.sixth-section-img {
  height: auto;
}
}